* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #000;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #000;
}

h4 {
    font-size: 20px;
    color: #000;
}

p {
    font-size: 16px;
    color: #665c5c;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

body {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(226, 222, 216);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.img {
    mix-blend-mode: multiply;
    height: 150px;
    margin-left: 10px;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: 0.3s ease;

}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-weight: 600px;
    color: #000;
}

.navbar li a:hover,
.navbar li a.active {
    color: #df2f2f;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.mobile {
    display: none;
    align-items: center;
}
.close{
    display: none;
}


/* hero section */
.hero {
    background-image: url("candle.webp");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.hero h4 {
    padding-bottom: 15px;
    font-size: 70px;
}

.hero h2 {
    font-size: 70px;
}

.hero p {
    font-size: 60px;
    color: #3a3434;
}

.hero h1 {
    color: green;
    font-size: 70px;
}

.hero button {
    padding: 14px 80px 14px 65px;
    border: 0;
    font-weight: 700px;
    font-size: 25px;
    background-color: transparent;
    color: green;
}
/* shop page styling */
.page-header{
    background-image: url("55.jpg");
    height: 50vh;
    width: 100%;
  background-size: 100% auto;  
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.page-header h2{
    font-size: 80px;
}
.page-header p{
    font-size: 50px;
    color: #000;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;  /* links ke darmiyan spacing */
  margin: 20px 0;
}

.pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: all 0.3s ease;
}

.pagination a:hover {
  background: #333;
  color: #fff;
  border-color: #333;
}
/* contact page styling */
.about-header{
    background-image: url('back.jpg');
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50vh;

}
.contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-details .deatils {
    width: 60%;
}
.deatils h2,
.from-deatils form h2{
    font-size: 50px;
    padding: 20px 0;
}
.deatils span,
.from-deatils form span{
    font-size: 25px;

}
.deatils li {
    list-style: none;
    display: flex;
    padding: 20px 0;
    align-items: center;
}
.deatils li i{
    font-size: 20px;
    padding-right: 22px;
}
.deatils li p{
    font-size: 30px;
    margin: 10px;
    
}
/* contact page */
/* form details */
.from-deatils form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.from-deatils form input,
.from-deatils form textarea{
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
}
.from-deatils form button{
    background-color: #239c05;
    color: white;
    height: 50px;
    width:90px;
    font-size: 17px;
}
/* cart page styling */
.cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.cart table img{
    width: 70px;
    height: 70px;
}
.cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
.cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
.cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
.cart table td:nth-child(4),
.cart table td:nth-child(5),
.cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
.cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
.cart table thead{
    border: 1px solid black;
    border-left: none;
    border-right: none;
}
.cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    padding: 18px 0;
}
.cart table tbody td{
    padding-top: 15px;
}
.cart table tbody td{
    font-size: 19px;
}
.cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.sub-total{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 30px;
}
.sub-total table{

    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.sub-total table td{
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    font-size: 19px;
}

.sub-total button{
    display: flex;
    font-size: 15px;
    height: 30px;
    background-color: #239c05;
    color: white;
}
.sub-total button:hover{
    background-color: red;
    
}
.item{
    display: table-row;
}
.item.active{
    display: none;
}
 /* subpro page styling  */
 .prodetails {
    display: flex;
    margin-top: 20px;
 }
 .prodetails .single-pro-img{
    width: 40%;
    margin-right: 50px;
 }
 .small-img-group{
    display: flex;
    justify-content: space-between;
 }
 .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
 }
 .small-img-col img{
    height: 50%;
    width: 210px;
     object-fit:cover; 
 }

.prodetails .single-pro-details{
    width: 20%;
    padding-top: 30px;
}
.prodetails .single-pro-details h4{
   
    padding: 20px 0 20px 0;
    font-size: 35px;
}
.prodetails .single-pro-details h2{
   font-size: 26px;
}
.prodetails .single-pro-details h6{
   font-size: 20px;
}
.prodetails .single-pro-details select{
   
   padding: 5px 10px;
   margin-bottom: 10px;
}
.prodetails .single-pro-details input{
 
   width: 50px;
   height: 17px;
   padding-left: 10px;
   font-size: 16px;
   margin-right: 10px;
}
.prodetails .single-pro-details button{
    background-color: green;
    color: white;
    height: 40px;
    width: 100px;
}

.prodetails .single-pro-details span{
line-height: 25px;
font-size: 20px;
}   
.prodetails .single-pro-details .normal:hover{
    background-color: #db1010;
    cursor: pointer;
}


/* product section */
.section-p1 {

    text-align: center;
}

.section-p1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.section-p1 .pro :hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

.section-p1 .pro img {
    width: 100%;
    border-radius: 20px;
}

.section-p1 .pro.des {
    text-align: start;
    padding: 10px 0;
}

.section-p1 .pro.des span {
    color: #000;
    font-size: 12px;
}

.section-p1 h4 {
    padding-top: 7px;
    color: #c23535;
    font-size: 24px;
    font-weight: 700;
}

.star i {
    font-size: 12px;
    color: #e1f011;
}

.section-p1 .cart {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    color: #239c05;
    background-color: aliceblue;
    font-weight: 500;
    border: 1px solid #e4d0d0;
    position: absolute;
    right: 10px;
    top: 440px;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.pro-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* banner section */
.section-m1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0;
    background-image: url("bg.webp");
    height: 200px;
    background-position: center;
}

.section-m1 button {
    font-size: 30px;
}

.section-m1 button:hover {
    background-color: #db1010;
    color: white;
}

.section-m1 h4 {
    font-size: 30px;
}

.foot {
    background-color: rgb(252, 251, 251);

}

.foot img {
    mix-blend-mode: multiply;
    height: 150px;
    margin-left: 10px;
    border: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 24px;
    padding-bottom: 20px;
}

footer p {
    font-size: 23px;
    margin: 0 0 8px 0;
}

footer .follow i {
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

footer .col a {
    margin-top: 10px;
}



/* responsive */
@media (max-width:799px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        padding: 80px 0 0 10px;
        background-color: rgb(226, 222, 216);
        transition: 0.03s;
    }

    .navbar.active {
        right: 0px;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .mobile {
        display: flex;
        align-items: center;
    }

    .mobile i {
        color: #000;
        font-size: 24px;
        padding-left: 20px;
    }

    .close {
        display: flex;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }
    .lg-bag{
        display: none;
    }
    .hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
    }
    .section-p1{
        padding: 40px 80px;
        display: inline;
    }
    .section-p1 .pro {
    justify-content: center;
    margin: 15px 15px;
}
.section-m1 {
    height: 20vh;
}
/* subpro page */
.single-pro-img img{
    height: 500px;
    width: 500px;
}
   
.small-img-col img{
    height: 100px;
    width: 125px;
}

.prodetails{
    display: flex;
    flex-direction: column;
}
.prodetails .single-pro-details{
   width: 100%;
}
/* contact page */
}